body {
  background-image: linear-gradient(
      rgba(255, 0, 21, 0.589),
      rgba(255, 0, 21, 0.589)
    ),
    url("/public/img/bg-intro-mobile.png");
  background-size: cover;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
}

@media (min-width: 38rem) {
  body {
    background-image: linear-gradient(
        rgba(255, 0, 21, 0.589),
        rgba(255, 0, 21, 0.589)
      ),
      url("/public/img/bg-intro-desktop.png");
    background-size: cover;
  }
}

#root {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
}

@media (min-width: 38rem) {
  #root {
    width: 75rem;
    flex-direction: row;
    margin-top: 10rem;
  }
}
